@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme Variables */
:root, [data-theme='moderno'] {
  --color-primary: 220 13% 35%; /* #4A5568 */
  --color-accent: 26 74% 50%;  /* #DD6B20 */
  --color-secondary: 38 92% 77%; /* #FBD38D */
  --color-background: 0 0% 100%; /* #FFFFFF */
  --color-text-primary: 220 13% 35%; /* #4A5568 */
  --color-text-secondary: 220 10% 47%; /* #718096 */
}

[data-theme='confianca'] {
  --color-primary: 212 72% 60%; /* #4A90E2 */
  --color-accent: 158 64% 52%; /* #34D399 */
  --color-secondary: 28 96% 61%; /* #FB923C */
  --color-background: 210 17% 98%; /* #F8F9FA */
  --color-text-primary: 220 17% 23%; /* #2D3748 */
  --color-text-secondary: 220 11% 63%; /* #90A0B7 - Ajustado */
}

[data-theme='crescimento'] {
  --color-primary: 145 42% 51%; /* #48BB78 */
  --color-accent: 179 51% 40%; /* #319795 */
  --color-secondary: 255 79% 76%; /* #A78BFA */
  --color-background: 210 25% 98%; /* #F7FAFC */
  --color-text-primary: 220 13% 35%; /* #4A5568 */
  --color-text-secondary: 220 10% 47%; /* #718096 */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 400; /* font-normal */
  color: #2d3748; /* Um cinza escuro, similar ao slate-nav */
}

#root {
  height: 100vh; /* Ensure #root also takes full viewport height */
}